.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    border:2px solid black;

    padding:20px;
}
.logo{
    width:120px;

}
.nav-items >ul{
    display: flex;
  align-items: end;

}
.nav-items >ul>li{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
}

.search{
    padding:10px;
}

.res-card{

    background-color: antiquewhite;
    width:22%;
    height: 400px;
    align-items: center;
    padding:10px;
    opacity: 0.9;
    margin:10px;
    
}
.res-container{

    display: flex;
    flex-wrap: wrap;
}


.res-card:hover{
    
    border:2px solid black;
    opacity: 1;
    cursor: pointer;

}




.res-img{
    width:95%;
    height:200px;
}
.res-img:hover{
    
    border:2px solid whitesmoke;

}
.shimmer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.shimmer-card{
    margin:5px;
    width:200px;
    height:300px;
    background-color: #f0f0f0;
}

.user-card{
    border:2px solid black;
    background-color: blanchedalmond;
}